﻿@model EntAssignment.Models.CategoryViewModel

@{
    ViewBag.Title = "Category";
}


<h2>@Html.DisplayFor(m => m.c.name)</h2>
<br />

@foreach (var item in Model.fb)
{
    <div style="text-align:center">
        <h3><a href="/Blog/Details/@item.Id">@item.heading</a></h3> 
        <br />
        <img src="@item.imagePath" style="width:600px"/>
    </div>

    <br />
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Published On
        </th>
        <th>
            Tags
        </th>
    </tr>
    @foreach (var item in Model.b)
    {
        <tr>
            <td>
                <a href="/Blog/Details/" @item.Id>@Html.DisplayFor(modelItem => item.heading)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.authorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tags)
            </td>
        </tr>
    }

</table>


<h7>@Html.ActionLink("Write A Post", "Create")</h7>
| @Html.ActionLink("Back To Home", "Index", "Home")

