﻿@model EntAssignment.Models.blogViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <div>
        <span style="float:left">
            <h4>@Html.DisplayFor(modelItem => Model.b.heading)</h4>
        </span>
        <span style="float:right">
            <h7 style="float:right">

                @{
                    if (Model.c.name == "MVC.Net")
                    {
                        <a href='@Url.Action("Index","Category",new { id = "MVCNet" })'>MVC.Net</a>
                    }
                    else if (Model.c.name == "C#")
                    {
                        <a href='@Url.Action("Index", "Category", new { id = "C#" })'>C#</a>
                    }
                    else if (Model.c.name == "JavaScript")
                    {
                        <a href='@Url.Action("Index", "Category", new { id = "JavaScript" })'>JavaScript</a>
                    }
                    else if (Model.c.name == "CSS")
                    {
                        <a href='@Url.Action("Index", "Category", new { id = "CSS" })'>CSS</a>
                    }
                }
        </span>
    </div>

    <br style="color:red"/>
    <dl class="dl-horizontal">

        <br />
        <br />

        <dd>
            <span style="float:left">Published on:  @Html.DisplayFor(model => model.b.publishDate)</span>


            <span style="float:right">
                <h7 style="float:right">
                    By
                    @{ var x = Model.b;
                        var author = x.authorId.Split('@').First();}
                    <a href="/Author/@author">
                        @Html.DisplayFor(modelItem => x.authorId)
                    </a>
            </span>
        </dd>

        <br />
        <br />

        <div style="margin-left:130px">
            <img src="@Model.b.imagePath" width="900" height="600">
        </div>



        <br />
        <br />

        <div style="padding-top:10px; padding-bottom:10px; font-size:18px;">
            @Html.DisplayFor(model => model.b.text)
        </div>


    </dl>
</div>

<p>
    @if (Model.b.authorId == User.Identity.Name)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.b.Id })
    }
    |
    @Html.ActionLink("Back To Home", "Index", "Home")
</p>
