﻿@model IEnumerable<EntAssignment.Common.blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blogs</h2>

@if (new BusinessLogic.BlogOperations().GetBlogsByUser(User.Identity.Name).Count > 0)
{
    <p style="float:right">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Published On
            </th>
            <th>
                Tags
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.heading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tags)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{

    <hr />
    <h3>You Have Not Written Any Posts Yet</h3>
    <br />
    <h4>@Html.ActionLink("Write A Post", "Create")</h4>
}
