﻿@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("Index", "ExternalData", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <input type="file" name="file" />
            <input type="submit" />
        }

    </div>


    <div class="col-md-6">
        <h5 class="text-center">Uploaded Videos:</h5>
        <ul style="list-style-type:none">
            @if (Model.Videos != null)
            {
                for (int i = 0; i < Model.Videos.Count; i++)
                {
                    <li><a href=@string.Concat("https://www.youtube.com/watch?v=", @Model.Videos[i].Substring(Model.Videos[i].IndexOf(':')+1))>@Model.Videos[i] </a></li>
                }
            }
        </ul>
    </div>
</div>