﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - MVC.Net</title>
    @Styles.Render("~/Content/solar.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#FAF5FF">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href='@Url.Action("Index", "Home")'>
            <img src="~/images/logo.png" style="width:60px; padding:8px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">

            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto" style="padding-left:80px">
                <li>
                    <a href="#" onclick="myFunction()" class="dropbtn">Categories</a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href='@Url.Action("Index","Category",new { id = "C#" })'>C#</a>
                        <a href='@Url.Action("Index","Category",new { id = "MVCNet" })'>MVC.Net</a>
                        <a href='@Url.Action("Index","Category",new { id = "JavaScript" })'>JavaScript</a>
                        <a href='@Url.Action("Index","Category",new { id = "CSS" })'>CSS</a>
                    </div>
                </li>
                |
                <li style="padding-left:8px;">
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <a href="/Blog/Create">Create Post</a>
                    }
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Geordey Gatt</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


    <style>
        .dropbtn {
            padding-right: 8px;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #ddd
                }

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {
            display: block;
        }
    </style>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>
</body>

</html>
