﻿@model IEnumerable<EntAssignment.Common.blog>
@{
    ViewBag.Title = "Home Page";

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}
<div class="bootstrap-iso">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{ var list = new BusinessLogic.BlogOperations().GetBlogsCarousel();}

            @for (int i = 0; i < list.Count; i++)
            {
                var item = list[i];
                var summary = new BusinessLogic.BlogOperations().GetSummary(item.text);
                var itemClass = i == 0 ? "item active" : "item";
                <div class="@itemClass">
                    <a href="/Blog/Details/@item.Id"><img class="d-block w-100" src="@item.imagePath" alt="First slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.heading</h5>
                        <p>@summary</p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<br />

<div class="row" style="padding-left:16px">

    <div class="card border-secondary mb-3" style="width: 34rem; margin-right:15px;">
        <div class="card-header"><a href='@Url.Action("Index","Category",new { id = "C#" })'>C#</a></div>
        <div class="card-body">
            <div class="card-body">
                <table>
                    <tr>
                        <td width="40%">
                            @{

                                var blog = new BusinessLogic.BlogOperations().GetLatestBlog("C#");

                                var text = new BusinessLogic.BlogOperations().GetSummary(blog.text);
                                <a href="/Blog/Details/@blog.Id"><h4 class="card-title">@Html.DisplayFor(model => blog.heading)</h4></a>
                                <p class="card-text">@text</p>
                            }
                        </td>
                        <td style="float:right;">
                            <ul style="list-style-type:none;">
                                @foreach (var item in new BusinessLogic.BlogOperations().GetLatestBlogs("C#"))
                                {
                                    <li style="padding-bottom:10px;"><a href="/Blog/Details/@item.Id">@Html.DisplayFor(model => item.heading)</a></li>
                                }
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 34rem;">
        <div class="card-header"><a href='@Url.Action("Index","Category",new { id = "MVCNet" })'>MVC.Net</a></div>
        <div class="card-body">
            <div class="card-body">
                <table>
                    <tr>
                        <td width="40%">
                            @{
                                var blogM = new BusinessLogic.BlogOperations().GetLatestBlog(("MVC.Net"));

                                var textM = new BusinessLogic.BlogOperations().GetSummary(blogM.text);
                                <a href="/Blog/Details/@blog.Id"><h4 class="card-title">@Html.DisplayFor(model => blogM.heading)</h4></a>
                                <p class="card-text">@textM</p>
                            }
                        </td>
                        <td style="float:right;">
                            <ul style="list-style-type:none;">
                                @foreach (var item in new BusinessLogic.BlogOperations().GetLatestBlogs("MVC.Net"))
                                {
                                    <li style="padding-bottom:10px;"><a href="/Blog/Details/@item.Id">@Html.DisplayFor(model => item.heading)</a></li>
                                }
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="card border-secondary mb-3" style="width: 34rem; margin-right:15px;">
        <div class="card-header"><a href='@Url.Action("Index","Category",new { id = "JavaScript" })'>JavaScript</a></div>
        <div class="card-body">
            <div class="card-body">
                <table>
                    <tr>
                        <td width="40%">
                            @{
                                var blogJ = new BusinessLogic.BlogOperations().GetLatestBlog("JavaScript");

                                var textJ = new BusinessLogic.BlogOperations().GetSummary(blogJ.text);
                                <a href="/Blog/Details/@blogJ.Id"><h4 class="card-title">@Html.DisplayFor(model => blogJ.heading)</h4></a>
                                <p class="card-text">@textJ</p>
                            }
                        </td>
                        <td style="float:right;">
                            <ul style="list-style-type:none;">
                                @foreach (var item in new BusinessLogic.BlogOperations().GetLatestBlogs("JavaScript"))
                                {
                                    <li style="padding-bottom:10px;"><a href="/Blog/Details/@item.Id">@Html.DisplayFor(model => item.heading)</a></li>
                                }
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 34em;">
        <div class="card-header"><a href='@Url.Action("Index","Category",new { id = "CSS" })'>CSS</a></div>
        <div class="card-body">
            <div class="card-body">
                <table>
                    <tr>
                        <td width="40%">
                            @{

                                var blogC = new BusinessLogic.BlogOperations().GetLatestBlog("CSS");

                                var textC = new BusinessLogic.BlogOperations().GetSummary(blogC.text);
                                <a href="/Blog/Details/@blogC.Id"><h4 class="card-title">@Html.DisplayFor(model => blogC.heading)</h4></a>
                                <p class="card-text">@textC</p>
                            }
                        </td>
                        <td style="float:right;">
                            <ul style="list-style-type:none;">
                                @foreach (var item in new BusinessLogic.BlogOperations().GetLatestBlogs("CSS"))
                                {
                                    <li style="padding-bottom:10px;"><a href="/Blog/Details/@item.Id">@Html.DisplayFor(model => item.heading)</a></li>
                                }
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
