﻿@model EntAssignment.Models.CategoryViewModel

@{
    ViewBag.Title = "Category";
}


<h2>@Html.DisplayFor(m => m.c.name)</h2>
<br />


@{
    var firstBlog = Model.fb;

    <div style="text-align:center">
        <h3><a href="/Blog/Details/@firstBlog.Id">@firstBlog.heading</a></h3>
        <br />
        <img src="@firstBlog.imagePath" style="width:600px" />
    </div>

    <br />
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Published On
        </th>
        <th>
            Tags
        </th>
    </tr>
    @foreach (var item in Model.b)
    {
        <tr>
            <td>
                <a href="/Blog/Details/@item.Id">@Html.DisplayFor(modelItem => item.heading)</a>
            </td>
            <td>
                @{
                    var author = item.authorId.Split('@').First();
                    <a href="/Author/@author">@Html.DisplayFor(modelItem => item.authorId)</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tags)
            </td>
        </tr>
    }

</table>

<h7>@Html.ActionLink("Write A Post", "Create")</h7>
| @Html.ActionLink("Back To Home", "Index", "Home")

